<a href="#" class="dropdown-toggle" data-toggle="dropdown">
	<i class="{$item->getIconClass()}"></i>
	<span n:if="!empty($item->getLabelText())" class="label {$item->getLabelClass()}">{$item->getLabelText()}</span>
</a>
