<aside class="main-sidebar">
	<section class="sidebar">
		<ul class="sidebar-menu" data-widget="tree">
			{foreach $menu->getLeftPanel()->getGroups() as $group}
				<li n:if="!empty($group->getTitle())" class="header">{$group->getTitle()}</li>
				{foreach $group->getItems() as $item}
					{include recursionItem, $item}
				{/foreach}
			{/foreach}
		</ul>
	</section>
</aside>

{define recursionItem, $item}
	{if $item->hasChildren()}
		<li class="treeview {if $item->isActive()} active {/if}">
			<a {if $item->getLink() == '#'}href="{$item->getLink()}" {else} href="{plink $item->getLink()}"{/if} >
				<i style="color: {$item->getIcon()->getIconColor()}" class="{$item->getIcon()->getFontAwesome()}"></i> <span>{$item->getLabel()}</span>
				<span class="pull-right-container">
				<i class="fa fa-angle-left pull-right"></i>
			</span>
			</a>
			<ul class="treeview-menu">
				{foreach $item->getChildren() as $child}
					{if $child->hasChildren()}
						{include recursionItem, $child}
					{else}
						<li {if $child->isActive()} class="active" {/if}>
							<a {if $child->getLink() == '#'}href="{$child->getLink()}" {else} href="{plink $child->getLink()}"{/if} >
								<i n:if="$child->getIcon()" style="color: {$child->getIcon()->getIconColor()}" class="{$child->getIcon()->getFontAwesome()}"></i>{$child->getLabel()}
							</a>
						</li>
					{/if}
				{/foreach}
			</ul>
		</li>
	{else}
		<li {if $item->isActive()} class="active" {/if}>
			<a {if $item->getLink() == '#'}href="{$item->getLink()}" {else} href="{plink $item->getLink()}"{/if} >
				<i style="color: {$item->getIcon()->getIconColor()}" class="{$item->getIcon()->getFontAwesome()}"></i> <span>{$item->getLabel()}</span>
				<span n:if="$item->hasRightLabels()" class="pull-right-container">
					{foreach $item->getRightLabels() as $label}
						<small class="label pull-right" style="color: {$label->getTextColor()}; background-color: {$label->getBackGroundColor()}">{$label->getText()}</small>
					{/foreach}
				</span>
			</a>
		</li>
	{/if}
{/define}
